#hero-list-container {
  margin: auto;
  margin-top: 5em;
  width: 25%;
  text-align: center;
  ::-webkit-scrollbar {
    width: 0.1em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(100, 97, 97, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(148, 113, 245);
    outline: 0.05em solid rgb(148, 113, 245);
    border-radius:3px;
  }

  h1{
    color: white;
    text-align: start;
    margin-bottom: 0.5em;
  }

  ul {
    overflow-y: scroll;
    height: 700px;
    padding-right: 0.5em;

    li {
      &:hover {
        background: #353741;
        border: 2px solid #3f4253;
        color: white;
        .hero-name {
          font-weight: bold;
        }
      }

      color: rgba(252, 246, 246, 0.658);
      padding: 1em;
      background: #3f4253;
      margin-top: 0.5em;
      margin-bottom: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 1em;
      cursor: pointer;

      div.hero-intro {
        p.hero-power {
          text-align: start;
        }
      }
    }
  }
}
