<div id="hero-list-container">
  <div>
  <h1>R6 Heroes</h1>
</div>
  <ul id="hero-list">
    <li *ngFor="let hero of heroList" class="hero-item" (click)="heroClickHandler(hero)">
      <div class="hero-intro">
        <p class="hero-power">{{ hero.power }}</p>
        <p class="hero-name">{{ hero.name | uppercase}}</p>
      </div>
      <p>hero revealed: {{ hero.dateOfHeroism | date:"MM/dd/yyyy" }}</p>
    </li>
  </ul>
</div>
