<div >
  <div
    id="hero-description-container"
    [ngStyle]="{ background: getBackgroundColor(hero.power) }"
  >
    <div id="hero-top-section">
      <p id="hero-name">{{ hero.name }}</p>
      <img
        src="../../../assets/cancel.png"
        alt="cancel img"
        (click)="cancelHandler()"
      />
    </div>

    <div id="hero-second-section">
      <p><span>NATIONALITY</span><br />{{ hero.nationality }}</p>
      <p>
        <span>HERO REVEALED</span><br />{{
          hero.dateOfHeroism | date: "MM/dd/yyyy"
        }}
      </p>
    </div>

    <div id="hero-role">
      <p><span>ROLE</span></p>
      <p id="role">{{ hero.role }}</p>
    </div>

    <div id="hero-streangth-info">
      <p>
        <span>HEALTH</span><br /><span>{{ hero.health }}</span>
      </p>
      <p>
        <span>SPEED</span><br /><span>{{ hero.speed }}</span>
      </p>
      <p>
        <span>POWER</span><br /><span>{{ hero.power }}</span>
      </p>
      <p>
        <span>DIFFICULTY</span><br /><span>{{ hero.difficulty }}</span>
      </p>
    </div>
    <div>
      <h3 id="hero-ability">UNIQUE ABILITIES AND PLAYSTYLE</h3>
      <p>{{ hero.ability }}</p>
    </div>
    <div id="hero-biography" *ngIf="hero.description">
      <h3><span>BIOGRAPHY</span></h3>
      <p>{{ hero.description }}</p>
    </div>
  </div>
</div>
