div#hero-description-container {
  z-index: 2;
  left: 10%;
  right: 10%;
  position: absolute;
  top: 7em;
  margin: auto;
  margin-top: 2em;
  width: 30%;
  height: 700px;
  overflow-y: scroll;
  background: #696a6b49;
  //filter: blur(1px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(163, 5, 5, 0.1);
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  padding: 1em;
  color: white;

  &::-webkit-scrollbar {
    width: 0.1em;
    &:hover {
      width: 0.3em;
    }
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(100, 97, 97, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(230, 104, 65, 0.973);
    outline: 0.05em solid rgba(230, 104, 65, 0.973);
    border-radius: 3px;
    cursor: pointer;
  }

  span {
    font-weight: bold;
  }

  div#hero-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
    p {
      font-weight: bolder;
      font-size: 2em;
    }
  }

  div#hero-second-section {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  div#hero-role {
    margin-bottom: 1em;
    p#role {
      padding-bottom: 0.3em;
      width: 80%;
      display: block;
      font-weight: bold;
      text-decoration: overline;
      margin-bottom: 0.2em;
      margin-top: 0.3em;
    }
  }

  div#hero-streangth-info {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    span {
      font-weight: bold;
    }
  }

  h3#hero-ability {
    text-decoration: underline;
    margin-bottom: 0.3em;
  }

  div#hero-biography {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    h3 {
      text-decoration: underline;
      margin-bottom: 0.3em;
    }
  }
}
