<div>
  <app-hero-list (showHeroDetails)="showHeroDetails($event)"></app-hero-list>
  <app-hero-description *ngIf="displayDetails" [hero]="hero" (hideHeroDetails)="hideHeroDetails()"></app-hero-description>
</div>
